<form action='/users' method='POST'>
  Email: <input type="email" name="email" value="<%= @user.email %>" required>
  <br>
  Password: <input type="password" name="password">
  <br>
  Repeat password: <input type="password" name="password_confirmation">
  <br>
  <input type="submit" value="Submit">
</form>
