<form action='/users' method='POST'>
  Email: <input type="text" name="email" value"<%= @user.email %>">
  <br>
  Password: <input type="password" name="password">
  <br>
  Repeat password: <input type="password" name="password_confirmation">
  <br>
  <input type="submit" value="Submit">
</form>
