<h1> <b>SIGN UP TO OUR AMAZING BOOKMARK MANAGER</b> </h1>

<form method='post' action='/links'>
  <p>
    Email: <input id='email' type='text' name='email'/>
  </p>
  <p>
    Password: <input id='password' type='text' name='password'/>
  </p>
  <input id='submit' type='submit' value = 'Sign up!'/>
</form>
